# Copy to .env and fill values
PORT=3000
BASE_URL=http://localhost:3000
MONGO_URI=mongodb+srv://<dbUser>:<dbPass>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
DB_NAME=urway
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
SESSION_SECRET=replace-with-secret
